[branch]
	autosetuprebase = always
[status]
	submodulesummary = 1
[alias]
	#Submodule aliases
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	strack = ! git submodule foreach -q --recursive 'git checkout $(git config -f $toplevel/.gitmodules submodule.$name.branch || echo master)'	
	spull = !git pull --recurse-submodules && git submodule sync --recursive && git submodule update --init --remote --recursive --rebase && git strack
[push]
	recurseSubmodules = on-demand
[fetch]
	recurseSubmodules = on-demand
[pull]
	rebase = preserve
[diff]
	submodule = log
